body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 24px;
	background: #000;
	border-top: 6px solid #0f2b6d;
}
strong, b {
	font-weight: bold;
}
em, i {
	font-style: italic;
}
a:link, a:visited, a:active {
	color: #0f2b6d;
	text-decoration: none;
}
a:hover {
	color: #000;
}
#container {
	background: url(../images/bg.gif) fixed #efefef;
}
#wrapper {
	width: 600px;
	margin: auto;
}
article p, article ul, article ol, pre {
	margin-bottom: 14px;
	line-height: 26px;
	color: #222;
}
article blockquote p {
	line-height: 22px;
}
article ul, article ol {
	margin-left: 36px;
}
article ul {
	list-style: square;
}
article ol {
	list-style: decimal;
}
article > p > a, article li a, article em a, article strong a, article strong em a {
	border-bottom: 1px dotted #0f2b6d;
}
article p a:hover, article li a:hover {
	border-bottom: 2px solid;
	color: #0f2b6d;
}
article sup {
	font-size: 12px;
	vertical-align: super;
	line-height: 0;
}
article h2 {
	margin: 24px 0 8px 0;
}
article hr {
	color: #ccc;
	background-color: #ccc;
	height: 1px;
	border-width: 0;
	margin: 20px 0;
}
article hr + ol {
	font-size: 14px;
	line-height: 22px;
}
blockquote {
	margin: 0 60px 12px 20px;
	padding: 0 0 0 16px;
	font-size: 14px;
	line-height: 22px;
	border-left: 4px solid #ccc;
}
pre, code {
	font-family: "Courier New", Courier, Monaco, monospace;
	font-size: 14px;
}
pre {
	line-height: 18px;
	margin-left: 20px;
}
h1, h2, nav {
	font-family: 'Lato', sans-serif;
	color: #0f2b6d;
	text-transform: uppercase;
}
hgroup {
	clear: both;
}
header h1 {
	margin: 0 0 0 -3px;
	font-size: 56px;
	padding: 60px 0;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 48px;
	width: 300px;
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}
header h2 {
	font-weight: 700;
	text-transform: uppercase;
	clear: both;
}
nav ul {
	font-weight: 700;
	font-size: 14px;
	height: 42px;
}
nav li {
	float: left;
	padding: 0 14px 0 0;
}
nav li a {
	padding: 12px 0 0 0;
	float: left;
}
nav li a:hover, nav li a.active_nav {
	border-bottom: 6px solid #0f2b6d;
	color: #0f2b6d;
}
nav li#search {
	float: right;
	padding-right: 0;
}
nav li#search input {
	background: none;
	border: none;
	border-bottom: 1px dotted #0f2b6d;
	outline: none;
	width: 150px;
	float: left;
	margin: 14px 12px 0 0;
	font-family:  'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #0f2b6d;
	padding: 1px 0 2px 0;
}
nav li#search input:focus {
	border-bottom: 6px solid #0f2b6d;
	padding-bottom: 6px;
}
nav li#search a {
	float: right;
}
article h1 {
	font-weight: 300;
	margin-bottom: 18px;
	font-size: 24px;
	line-height: 28px;
}
article h1 a:hover {
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}
article footer {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: #666;
	font-size: 14px;
	margin: 18px 0 90px 0;
	background: none;
	border: none;
	padding: 0;
}
article p img, article > p > a > img {
	background: #eee;
	border: 1px solid #ccc;
	padding: 6px;
}
article > p > a > img:hover {
	border: 1px solid #0f2b6d;
}
article a.img_link, article a.img_link:hover {
	border: none;
}
nav#older_newer {
	clear: both;
	float: none;
	margin: -60px 0 0 0;
}
nav#older_newer ul {
	float: none;
	padding: 0;
	height: 60px;
}
nav#older_newer li {
	float: right;
	height: 73px;
}
nav#older_newer li:first-child {
	float: left;
}
nav#older_newer li {
	padding: 0;
}
nav#older_newer li a {
	padding: 6px 0 40px 0;
}
nav#older_newer li a:hover {
	border: none;
	border-top: 6px solid #0f2b6d;
	padding: 0 0 34px 0;
}
nav#older_newer span {
	font-size: 20px;
}
.archive footer {
	margin-top: 0;
	margin-bottom: 30px;
}
article.archive:last-child footer {
	margin-bottom: 60px;
}
footer {
	font-family: 'Lato', sans-serif;
	border-top: 6px solid #0f2b6d;
	margin: auto;
	color: #aaa;
	background: #000;
	font-size: 14px;
	text-transform: uppercase;
	padding: 40px 0 80px;
	clear: both;
}
footer p {
	width: 600px;
	margin: 0 auto 16px auto;
}
footer a {
	color: #aaa !important;
	border-bottom: 1px dotted #aaa;
}
footer a:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
}
footer #credits {
	width: 600px;
	margin: 40px auto 0 auto;
	text-transform: none;
	font-size: 12px;
}
footer #credits #copyright {
	float: left;
	width: 300px;
}
footer #credits #um_link {
	text-align: right;
	float: right;
	width: 300px;
}
footer .no_wrap {
	white-space: nowrap;
}
.footer_single {
	margin-bottom: 60px;
}

/* DISQUS */
/* #dsq-sort-by, #dsq-pagination, .dsq-trackback-url, #dsq-global-toolbar, .dsq-comment-flag, .dsq-comment-actions li:first-child  {
	display: none;
}
#disqus_thread {
	margin: 0 0 60px 0 !important;
}
.dsq-textarea-background, .dsq-button, #dsq-content .dsq-avatar img {
	border-radius: 0 !important;
	box-shadow: 0 0 0 !important;
}
#dsq-content h3, #dsq-account-dropdown a, .dsq-comment-meta a, .dsq-comment-actions a, .dsq-comment-header {
	font-family: 'Lato', sans-serif;
	color: #0f2b6d;
	text-transform: uppercase;
	font-weight: 300;
}
#dsq-content .dsq-comment-text p {
	font-size: 14px;
	line-height: 20px;
}
.dsq-comment-header {
	background: none !important;
	border: none !important;
	padding: 0 !important;
}
.dsq-commenter-name {
	font-weight: 300 !important;
}
.dsq-comment-message {
	margin: 0;
} */

