body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 24px;
	background: url(../images/bg.jpg) fixed;
	border-top: 6px solid #0f2b6d;
}
a:link, a:visited, a:active {
	color: #0f2b6d;
	text-decoration: none;
}
#wrapper {
	width: 600px;
	margin: auto;
}
article p {
	margin-bottom: 12px; 
}
blockquote {
	margin: 0 30px 12px 26px;
	padding-left: 20px;
	border-left: 4px solid #ccc;
	font-style: italic;
	color: #666;
}
h1, h2, nav {
	font-family: 'Lato', sans-serif;
	color: #0f2b6d;
	text-transform: uppercase;
}
hgroup {
	clear: both;
}
header h1 {
	font-size: 56px;
	padding: 60px 0;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 48px;
	width: 300px;
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}
header h2 {
	font-weight: 700;
	text-transform: uppercase;
	clear: both;
}
nav ul {
	float: right;
	font-weight: 700;
	font-size: 14px;
	padding: 12px 0 0 0;
}
nav li {
	float: left;
	padding: 1px 0 0 14px;
}
nav li a:hover {
	border-bottom: 6px solid #0f2b6d;
	padding: 0 0 2px;
}
article h1 {
	font-weight: 300;
	margin-bottom: 18px; 
	font-size: 24px;
}
article footer {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: #666;
	font-size: 14px;
	margin: 18px 0 60px 0;
	background: none;
	border: none;
	padding: 0;
}
nav#older_newer {
	clear: both;
	float: none;
	padding: 0 0 48px 0;
}
nav#older_newer ul {
	float: none;
}
nav#older_newer li {
	float: right;
}
nav#older_newer li:first-child {
	float: left;
}
nav#older_newer li {
	padding: 10px 0 0 0;
}
nav#older_newer li a:hover {
	border-top: 6px solid #0f2b6d;
	border-bottom: none;
	padding: 4px 0 0 0;
}
nav#older_newer span {
	font-size: 20px;
}
footer {
	font-family: 'Lato', sans-serif;
	border-top: 6px solid #0f2b6d;
	margin: auto;
	color: #aaa;
	background: #000;
	font-size: 14px;
	text-transform: uppercase;
	padding: 40px 0 80px;
	clear: both;
}
footer p {
	width: 600px;
	margin: auto;
}